In [4]:
import numpy as np
import pandas as pd
df = pd.read_csv("table-1.csv")

In [5]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
df.shape

(288, 3)

In [7]:
df= df[df['Borough']!="Not assigned"]

In [40]:

df.head(10)

df.drop(["index"],axis=1,inplace = True)

In [43]:
df.drop(["level_0"],axis=1,inplace = True)
df.head()

  Postalcode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [76]:
df.columns = ['Postalcode', 'Borough', 'Neighbourhood']

In [77]:
df['Neighbourhood']=np.where(df['Neighbourhood']=='Not assigned',df['Borough'],df['Neighbourhood'])

In [96]:
dfn = df.copy()

In [98]:
dfn = dfn.groupby(['Postalcode','Borough']).Neighbourhood.agg([('Neighbourhood',','.join)])

In [101]:
df = dfn.copy()

In [102]:
df.shape

(103, 1)

In [106]:
df=df.reset_index()

In [107]:
df.shape

(103, 3)